* text=auto eol=lf

*.bat text eol=crlf
*.cmd text eol=crlf

*.bmp binary
*.dll binary
*.exe binary
*.gif binary
*.ico binary
*.jpeg binary
*.jpg binary
*.pdb binary
*.pdf binary
*.png binary
*.pfx binary
*.zip binary
